<h1>show me the foundation I clicked</h1>



<p>
  <strong>Brand:</strong>
  <%= @foundation.brand %>
</p>

<p>
  <strong>Product:</strong>
  <%= @foundation.product %>
</p>

<p>
  <strong>Shade:</strong>
  <%= @foundation.shade %>
</p>



