<h1>User#index</h1>

<% @users.each do |u| %>
<%= link_to u.name, user_path(u) %>
 
 <% end %>

<ul>
<% current_user do |u| %>
	<li>
		<%= button_to "What is my true shade?", true_shade_path(u.id) %>
	</li>
<% end %>
</ul>
