<div class="container-fluid">

	<div class="row" id="welcome">
	  	<div class="col-md-12 welcome">
	  		<h1>MUSG</h1>
	  	</div>
	</div>
	<div class="row meet" id="meet" data-spy="scroll" data-target=".navbar">
	  	<h1>Welcome to Makeup Shade Guide</h1>
	  	<div class="col-md-4">
	  		<div class = "about"></div>
	  		<h3>Who Are We?</h3>
	  		<p>Makeup Shade Guide (MUSG for short) started as an idea to standardize the thousands of foundations into set "true shades" for women to make cosmetic shopping an easier and more pleasant experience. Users sign up, enter their current matching foundation shade(s), and MUSG will generate other matching foundations. This is achieved through crowd sourcing so the more users join, the more [accurate] the foundations will be. Try it out!</p> 		
	  	</div>
</div>
