@import 'bootstrap';

body {
	background-color: pink;
  }

html, body, .container-fluid, .row, .col-md-12 {
	height: 100%;
}

	.navbar {
		margin-bottom: 0px;
	}

$bgDefault      : purple;
$bgHighlight    : purple;
$colDefault     : yellow;
$colHighlight   : blue;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus { 
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-toggle {
		border-color: $bgHighlight;
		&:hover, &:focus {
			background-color: $bgHighlight; }
		.icon-bar {
			background-color: $colDefault; }}
	.navbar-collapse,
	.navbar-form {
		border-color: $colDefault; }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu {
		> li > a {
			color: $colDefault;
			&:hover, &:focus {
				color: $colHighlight; }}
		> .active {
			> a, > a:hover, > a:focus, {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
}

	.container-fluid {

		.row {
			text-align: center;
			padding-top: 60px;
			background-color: red;
			color: #ca3;
			overflow: auto;

			h1 {
				font-family: cursive;
				text-align: center;
			}
		
			
			.about {
					height: 100px;
					width: 100px;
					background-image: url();
					margin: 50px auto;
					text-align: center;
				}
			}
	}

@media (max-width: 991px) {
	body {
		margin-top: 26px;
	}
	h1 {
	padding-top: 20px;
  }
}

